.view-expenses-container {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table {
  width: 100%;
}

@media (max-width: 768px) {
  table {
    font-size: 0.875rem;
  }

  td, th {
    padding: 0.75rem 0.5rem !important;
  }
}
